{
	"md5": "xxxxxxx",
	    "6.6.5": {
	    	"class_cursor_factory":            "com.tencent.wcdb.database.SQLiteDatabase$CursorFactory",
	    	"class_sqlite_cipher_spec":        "com.tencent.wcdb.database.SQLiteCipherSpec", 
	    	"class_database_error_handler":    "com.tencent.wcdb.DatabaseErrorHandler",             
	    	"class_sqlite_database":           "com.tencent.wcdb.database.SQLiteDatabase",
	    	"class_cancel_lation_signal":      "com.tencent.wcdb.support.CancellationSignal",
	    	"class_voice_logic":               "com.tencent.mm.modelvoice.q",            
	    	"method_wx_path":                  "Ft",                            
	    	"method_init_voicemsg":            "nZ",
	    	"method_stop_recoder":             "aa",                                                     
	    	"class_voice_table":               "com.tencent.mm.modelvoice.m",
	    	"method_get_scene_voice_service":  "UM",
	    	"class_img_helper":                "com.tencent.mm.plugin.n.c",
	    	"method_get_img_path":             "Fq",                              
	    	"class_sub_core_cdntransport":     "com.tencent.mm.modelcdntran.g",
	    	"method_get_cdntransport_service": "MP",                          
	    	"field_hashset_string":            "huj",
	    	"method_hashset_add":              "add",
	    	"class_imginfo_storage":           "com.tencent.mm.ap.o",
	    	"method_get_download_img_service": "PD",                                    
	    	"method_get_bigimg_logic":         "PE",
	    	"method_download_img":             "a", 		
	    	"method_get_imageloader":          "Pi",
	    	"class_netscene_upload_msgimg":    "com.tencent.mm.ap.l",
	    	"class_sendmsg":                   "com.tencent.mm.modelmulti.j",
	    	"class_mmcore":                    "com.tencent.mm.y.as",
	    	"method_get_queue":                "CN",
	    	"method_add_queue":                "a",
	    	"method_open_database":            "openDatabase",
	    	"class_timeline":                  "com.tencent.mm.protocal.c.bpb",
	    	"method_byte_to_object":           "aH",
	    	"class_parser":                    "com.tencent.mm.plugin.sns.g.j",
	    	"method_timeline_to_xml":          "b",
	    	"class_comment":                   "com.tencent.mm.protocal.c.blf",
	    	"field_comments":                  "wUU",
	    	"field_likes":                     "wUR",
	    	"field_nickname":                  "wUZ",
	    	"field_comment_like_timestamp":    "pgR",
	    	"field_comment_content":           "noL",
	    	"field_comment_like_username":     "vPp",
	    	"field_comment_like_nickname":     "wDh",
	    	"method_insert":                   "insertWithOnConflict",
	    	"method_update":                   "updateWithOnConflict",
	    	"method_delete":                   "delete",
	    	"method_rawquery":                 "rawQueryWithFactory",
	    	"method_scene_voice_service_run":  "run",
	    	"class_net_scene_verifyuser":      "com.tencent.mm.pluginsdk.model.o",
	    	"class_sys_cmd_msgextension":      "com.tencent.mm.y.bt",                                    
	    	"method_new_xml_consumer":         "a",
	    	"interface_messenger_foundation":  "com.tencent.mm.plugin.messenger.foundation.a.l",
	    	"class_get_contact_card_info":     "com.tencent.mm.ui.contact.y",
	    	"method_get_contact_card_info":    "aal",
	    	"tune_wx": {
	    		"class_sqlite_connection_operation":           "com.tencent.wcdb.database.SQLiteConnection$Operation",
	    		"class_sqlite_connection_operationlog":        "com.tencent.wcdb.database.SQLiteConnection$OperationLog",
	    		"method_end_operation_defer_log_locked":       "endOperationDeferLogLocked",
	    		"class_sqlite_connection":                     "com.tencent.wcdb.database.SQLiteConnection",
	    		"method_dump":                                 "dump",
	    		"class_sqlite_connection_pool":                "com.tencent.wcdb.database.SQLiteConnectionPool",
	    		"method_trace_execute":                        "traceExecute",
	    		"class_support_log":                           "com.tencent.wcdb.support.Log",
	    		"method_println":                              "println",
	    		"class_log_callback":                          "com.tencent.wcdb.support.Log$LogCallback",
	    		"field_callback":                              "mCallback",
	    		"class_gmtrace":                               "com.tencent.gmtrace.GMTrace",
	    		"field_methodinhandlermap":                    "methodInHandlerMap",
	    		"field_methodpostdatahandlerlist":             "methodPostDataHandlerList",
	    		"class_gmtracehandler":                        "com.tencent.gmtrace.GMTraceHandler",
	    		"method_register_handler":                     "registerHandler",
	    		"class_fps_lighter":                           "com.tencent.mm.plugin.fps_lighter.e.a",
	    		"method_of":                                   "qh",
	    		"class_fps_lighter_sub":                       "com.tencent.mm.plugin.fps_lighter.e.a$a",
	    		"method_valueof":                              "valueOf",
	    		"class_fps_lighter_frame_beat_core":           "com.tencent.mm.plugin.fps_lighter.b.f",
	    		"method_frame_beat_core":                      "q",
	    		"field_fps_lighter_config":                    "mFY",
	    		"field_fps_lighter_config_int":                "mGC",
	    		"field_fps_lighter_config_boolean":            "mGv",
	    		"field_fps_lighter_listeners":                 "mListeners",
	    		"class_subcore_hot_patch":                     "com.tencent.mm.plugin.hp.b.d",
	    		"field_subcore_hot_patch_ilistener":           "nGq",
	    		"method_subcore_hot_patch_ilistener_callback": "a",
	    		"class_tinker_patch_request_callback":         "com.tencent.mm.plugin.hp.tinker.f",
	    		"method_tinker_patch_request_callback":        "C",
	    		"class_tinker_boots_command":                  "com.tencent.mm.plugin.hp.b.g",
	    		"method_tinker_boots_command":                 "a",
	    		"class_click_flow_receiver":                   "com.tencent.mm.booter.ClickFlowReceiver",
	    		"class_tinker_resource_loader":                "com.tencent.tinker.loader.TinkerResourceLoader",
	    		"method_tinker_resource_loader":               "a",
	    		"class_share_security_check":                  "com.tencent.tinker.loader.shareutil.ShareSecurityCheck"
	    	}
	    },
		"6.6.3": {
		"class_cursor_factory":            "com.tencent.wcdb.database.SQLiteDatabase$CursorFactory",
		"class_sqlite_cipher_spec":        "com.tencent.wcdb.database.SQLiteCipherSpec", 
		"class_database_error_handler":    "com.tencent.wcdb.DatabaseErrorHandler",             
		"class_sqlite_database":           "com.tencent.wcdb.database.SQLiteDatabase",
		"class_cancel_lation_signal":      "com.tencent.wcdb.support.CancellationSignal",
		"class_voice_logic":               "com.tencent.mm.modelvoice.q",            
		"method_wx_path":                  "Fm",                            
		"method_init_voicemsg":            "nV",
		"method_stop_recoder":             "aa",                                                     
		"class_voice_table":               "com.tencent.mm.modelvoice.m",
		"method_get_scene_voice_service":  "UF",                            
		"class_img_helper":                "com.tencent.mm.plugin.n.c",
		"method_get_img_path":             "Fj",                              
		"class_sub_core_cdntransport":     "com.tencent.mm.modelcdntran.g",
		"method_get_cdntransport_service": "MJ",                          
		"field_hashset_string":            "hsy",
		"method_hashset_add":              "add",
		"class_imginfo_storage":           "com.tencent.mm.aq.o",
		"method_get_download_img_service": "Px",                                    
		"method_get_bigimg_logic":         "Py",
		"method_download_img":             "a",                                                     
		"method_get_imageloader":          "Pc",
		"class_netscene_upload_msgimg":    "com.tencent.mm.aq.l",
		"class_sendmsg":                   "com.tencent.mm.modelmulti.j",
		"class_mmcore":                    "com.tencent.mm.z.ar",                            
		"method_get_queue":                "CG",                                    
		"method_add_queue":                "a",                                                     
		"method_open_database":            "openDatabase",
		"class_timeline":                  "com.tencent.mm.protocal.c.bnp",
		"method_byte_to_object":           "aF",                          
		"class_parser":                    "com.tencent.mm.plugin.sns.g.j",
		"method_timeline_to_xml":          "b",                          
		"class_comment":                   "com.tencent.mm.protocal.c.bjv",
		"field_comments":                  "wNd",                          
		"field_likes":                     "wNa",
		"field_nickname":                  "wNi",
		"field_comment_like_timestamp":    "pbl",
		"field_comment_content":           "nje",
		"field_comment_like_username":     "vIy",
		"field_comment_like_nickname":     "wvW",
		"method_insert":                   "insertWithOnConflict",
		"method_update":                   "updateWithOnConflict",
		"method_delete":                   "delete",
		"method_rawquery":                 "rawQueryWithFactory",
		"method_scene_voice_service_run":  "run",
		"class_net_scene_verifyuser":      "com.tencent.mm.pluginsdk.model.o",
		"class_sys_cmd_msgextension":      "com.tencent.mm.z.bs",                                    
		"method_new_xml_consumer":         "a",
		"interface_messenger_foundation":  "com.tencent.mm.plugin.messenger.foundation.a.l",
		"class_get_contact_card_info":     "com.tencent.mm.ui.contact.v",
		"method_get_contact_card_info":    "ZE",
		"tune_wx": {
			"class_sqlite_connection_operation":           "com.tencent.wcdb.database.SQLiteConnection$Operation",
			"class_sqlite_connection_operationlog":        "com.tencent.wcdb.database.SQLiteConnection$OperationLog",
			"method_end_operation_defer_log_locked":       "endOperationDeferLogLocked",
			"class_sqlite_connection":                     "com.tencent.wcdb.database.SQLiteConnection",
			"method_dump":                                 "dump",
			"class_sqlite_connection_pool":                "com.tencent.wcdb.database.SQLiteConnectionPool",
			"method_trace_execute":                        "traceExecute",
			"class_support_log":                           "com.tencent.wcdb.support.Log",
			"method_println":                              "println",
			"class_log_callback":                          "com.tencent.wcdb.support.Log$LogCallback",
			"field_callback":                              "mCallback",
			"class_gmtrace":                               "com.tencent.gmtrace.GMTrace",
			"field_methodinhandlermap":                    "methodInHandlerMap",
			"field_methodpostdatahandlerlist":             "methodPostDataHandlerList",
			"class_gmtracehandler":                        "com.tencent.gmtrace.GMTraceHandler",
			"method_register_handler":                     "registerHandler",
			"class_fps_lighter":                           "com.tencent.mm.plugin.fps_lighter.e.a",
			"method_of":                                   "pP",
			"class_fps_lighter_sub":                       "com.tencent.mm.plugin.fps_lighter.e.a$a",
			"method_valueof":                              "valueOf",
			"class_fps_lighter_frame_beat_core":           "com.tencent.mm.plugin.fps_lighter.b.f",
			"method_frame_beat_core":                      "q",
			"field_fps_lighter_config":                    "mAl",
			"field_fps_lighter_config_int":                "mAP",
			"field_fps_lighter_config_boolean":            "mAI",
			"field_fps_lighter_listeners":                 "mListeners",
			"class_subcore_hot_patch":                     "com.tencent.mm.plugin.hp.b.d",
			"field_subcore_hot_patch_ilistener":           "nAJ",
			"method_subcore_hot_patch_ilistener_callback": "a",
			"class_tinker_patch_request_callback":         "com.tencent.mm.plugin.hp.tinker.f",
			"method_tinker_patch_request_callback":        "C",
			"class_tinker_boots_command":                  "com.tencent.mm.plugin.hp.b.g",
			"method_tinker_boots_command":                 "a",
			"class_click_flow_receiver":                   "com.tencent.mm.booter.ClickFlowReceiver",
			"class_tinker_resource_loader":                "com.tencent.tinker.loader.TinkerResourceLoader",
			"method_tinker_resource_loader":               "a",
			"class_share_security_check":                  "com.tencent.tinker.loader.shareutil.ShareSecurityCheck"
		}
	},
	"6.6.2": {
		"class_cursor_factory":            "com.tencent.wcdb.database.SQLiteDatabase$CursorFactory",
		"class_sqlite_cipher_spec":        "com.tencent.wcdb.database.SQLiteCipherSpec", 
		"class_database_error_handler":    "com.tencent.wcdb.DatabaseErrorHandler",             
		"class_sqlite_database":           "com.tencent.wcdb.database.SQLiteDatabase",
		"class_cancel_lation_signal":      "com.tencent.wcdb.support.CancellationSignal",
		"class_voice_logic":               "com.tencent.mm.modelvoice.q",            
		"method_wx_path":                  "Fm",                            
		"method_init_voicemsg":            "nV",
		"method_stop_recoder":             "aa",                                                     
		"class_voice_table":               "com.tencent.mm.modelvoice.m",
		"method_get_scene_voice_service":  "UF",                            
		"class_img_helper":                "com.tencent.mm.plugin.n.c",
		"method_get_img_path":             "Fj",                              
		"class_sub_core_cdntransport":     "com.tencent.mm.modelcdntran.g",
		"method_get_cdntransport_service": "MJ",                          
		"field_hashset_string":            "hsy",
		"method_hashset_add":              "add",
		"class_imginfo_storage":           "com.tencent.mm.aq.o",
		"method_get_download_img_service": "Px",                                    
		"method_get_bigimg_logic":         "Py",
		"method_download_img":             "a",                                                     
		"method_get_imageloader":          "Pc",
		"class_netscene_upload_msgimg":    "com.tencent.mm.aq.l",
		"class_sendmsg":                   "com.tencent.mm.modelmulti.j",
		"class_mmcore":                    "com.tencent.mm.z.ar",                            
		"method_get_queue":                "CG",                                    
		"method_add_queue":                "a",                                                     
		"method_open_database":            "openDatabase",
		"class_timeline":                  "com.tencent.mm.protocal.c.bnp",
		"method_byte_to_object":           "aF",                          
		"class_parser":                    "com.tencent.mm.plugin.sns.g.j",
		"method_timeline_to_xml":          "b",                          
		"class_comment":                   "com.tencent.mm.protocal.c.bjv",
		"field_comments":                  "wNd",                          
		"field_likes":                     "wNa",
		"field_nickname":                  "wNi",
		"field_comment_like_timestamp":    "pbl",
		"field_comment_content":           "nje",
		"field_comment_like_username":     "vIy",
		"field_comment_like_nickname":     "wvW",
		"method_insert":                   "insertWithOnConflict",
		"method_update":                   "updateWithOnConflict",
		"method_delete":                   "delete",
		"method_rawquery":                 "rawQueryWithFactory",
		"method_scene_voice_service_run":  "run",
		"class_net_scene_verifyuser":      "com.tencent.mm.pluginsdk.model.o",
		"class_sys_cmd_msgextension":      "com.tencent.mm.z.bs",                                    
		"method_new_xml_consumer":         "a",
		"interface_messenger_foundation":  "com.tencent.mm.plugin.messenger.foundation.a.l",
		"class_get_contact_card_info":     "com.tencent.mm.ui.contact.v",
		"method_get_contact_card_info":    "ZE",
		"tune_wx": {
			"class_sqlite_connection_operation":           "com.tencent.wcdb.database.SQLiteConnection$Operation",
			"class_sqlite_connection_operationlog":        "com.tencent.wcdb.database.SQLiteConnection$OperationLog",
			"method_end_operation_defer_log_locked":       "endOperationDeferLogLocked",
			"class_sqlite_connection":                     "com.tencent.wcdb.database.SQLiteConnection",
			"method_dump":                                 "dump",
			"class_sqlite_connection_pool":                "com.tencent.wcdb.database.SQLiteConnectionPool",
			"method_trace_execute":                        "traceExecute",
			"class_support_log":                           "com.tencent.wcdb.support.Log",
			"method_println":                              "println",
			"class_log_callback":                          "com.tencent.wcdb.support.Log$LogCallback",
			"field_callback":                              "mCallback",
			"class_gmtrace":                               "com.tencent.gmtrace.GMTrace",
			"field_methodinhandlermap":                    "methodInHandlerMap",
			"field_methodpostdatahandlerlist":             "methodPostDataHandlerList",
			"class_gmtracehandler":                        "com.tencent.gmtrace.GMTraceHandler",
			"method_register_handler":                     "registerHandler",
			"class_fps_lighter":                           "com.tencent.mm.plugin.fps_lighter.e.a",
			"method_of":                                   "pP",
			"class_fps_lighter_sub":                       "com.tencent.mm.plugin.fps_lighter.e.a$a",
			"method_valueof":                              "valueOf",
			"class_fps_lighter_frame_beat_core":           "com.tencent.mm.plugin.fps_lighter.b.f",
			"method_frame_beat_core":                      "q",
			"field_fps_lighter_config":                    "mAl",
			"field_fps_lighter_config_int":                "mAP",
			"field_fps_lighter_config_boolean":            "mAI",
			"field_fps_lighter_listeners":                 "mListeners",
			"class_subcore_hot_patch":                     "com.tencent.mm.plugin.hp.b.d",
			"field_subcore_hot_patch_ilistener":           "nAJ",
			"method_subcore_hot_patch_ilistener_callback": "a",
			"class_tinker_patch_request_callback":         "com.tencent.mm.plugin.hp.tinker.f",
			"method_tinker_patch_request_callback":        "C",
			"class_tinker_boots_command":                  "com.tencent.mm.plugin.hp.b.g",
			"method_tinker_boots_command":                 "a",
			"class_click_flow_receiver":                   "com.tencent.mm.booter.ClickFlowReceiver",
			"class_tinker_resource_loader":                "com.tencent.tinker.loader.TinkerResourceLoader",
			"method_tinker_resource_loader":               "a",
			"class_share_security_check":                  "com.tencent.tinker.loader.shareutil.ShareSecurityCheck"
		}
	},
	"6.6.1": {
		"class_cursor_factory": "com.tencent.wcdb.database.SQLiteDatabase$CursorFactory",
		"class_sqlite_cipher_spec": "com.tencent.wcdb.database.SQLiteCipherSpec",
		"class_database_error_handler": "com.tencent.wcdb.DatabaseErrorHandler",
		"class_sqlite_database": "com.tencent.wcdb.database.SQLiteDatabase",
		"class_cancel_lation_signal": "com.tencent.wcdb.support.CancellationSignal",
		"class_voice_logic": "com.tencent.mm.modelvoice.q",
		"class_voice_table": "com.tencent.mm.modelvoice.m",
		"class_img_helper": "com.tencent.mm.plugin.n.c",
		"class_sub_core_cdntransport": "com.tencent.mm.modelcdntran.g",
		"class_netscene_upload_msgimg": "com.tencent.mm.ao.k",
		"class_sendmsg": "com.tencent.mm.modelmulti.j",
		"class_imginfo_storage": "com.tencent.mm.ao.n",
		"class_mmcore": "com.tencent.mm.y.as",
		"method_open_database": "openDatabase",
		"class_timeline": "com.tencent.mm.protocal.c.blc",
		"class_comment": "com.tencent.mm.protocal.c.bhg",
		"class_parser": "com.tencent.mm.plugin.sns.g.j",
		"method_byte_to_object": "aB",
		"method_timeline_to_xml": "b",
		"field_comments": "vPf",
		"field_likes": "vPc",
		"field_nickname": "vPk",
		"field_comment_like_timestamp": "opK",
		"field_comment_content": "osW",
		"field_comment_like_username": "uNW",
		"field_comment_like_nickname": "vyL",
		"method_insert": "insertWithOnConflict",
		"method_update": "updateWithOnConflict",
		"method_delete": "delete",
		"method_rawquery": "rawQueryWithFactory",
		"method_wx_path": "AY",
		"method_get_scene_voice_service": "Qy",
		"method_init_voicemsg": "nu",
		"method_get_img_path": "AV",
		"method_get_cdntransport_service": "Iu",
		"method_get_queue": "ys",
		"method_add_queue": "a",
		"method_get_download_img_service": "Ll",
		"method_get_bigimg_logic": "Lm",
		"method_download_img": "a",
		"method_get_imageloader": "KN",
		"method_stop_recoder": "Y",
		"method_scene_voice_service_run": "run",
		"method_hashset_add": "add",
		"field_hashset_string": "gMk",
		"class_net_scene_verifyuser": "com.tencent.mm.pluginsdk.model.n",
		"class_sys_cmd_msgextension": "com.tencent.mm.y.bt",
		"method_new_xml_consumer": "a",
		"interface_messenger_foundation": "com.tencent.mm.plugin.messenger.foundation.a.l",
		"class_get_contact_card_info": "com.tencent.mm.ui.contact.v",
		"method_get_contact_card_info": "YD",
		"tune_wx": {
			"class_sqlite_connection_operation": "com.tencent.wcdb.database.SQLiteConnection$Operation",
			"class_sqlite_connection_operationlog": "com.tencent.wcdb.database.SQLiteConnection$OperationLog",
			"method_end_operation_defer_log_locked": "endOperationDeferLogLocked",
			"class_sqlite_connection": "com.tencent.wcdb.database.SQLiteConnection",
			"method_dump": "dump",
			"class_sqlite_connection_pool": "com.tencent.wcdb.database.SQLiteConnectionPool",
			"method_trace_execute": "traceExecute",
			"class_support_log": "com.tencent.wcdb.support.Log",
			"method_println": "println",
			"class_log_callback": "com.tencent.wcdb.support.Log$LogCallback",
			"field_callback": "mCallback",
			"class_gmtrace": "com.tencent.gmtrace.GMTrace",
			"field_methodinhandlermap": "methodInHandlerMap",
			"field_methodpostdatahandlerlist": "methodPostDataHandlerList",
			"class_gmtracehandler": "com.tencent.gmtrace.GMTraceHandler",
			"method_register_handler": "registerHandler",
			"class_fps_lighter": "com.tencent.mm.plugin.fps_lighter.e.a",
			"method_of": "oN",
			"class_fps_lighter_sub": "com.tencent.mm.plugin.fps_lighter.e.a$a",
			"method_valueof": "valueOf",
			"class_fps_lighter_frame_beat_core": "com.tencent.mm.plugin.fps_lighter.b.f",
			"method_frame_beat_core": "t",
			"field_fps_lighter_config": "lUB",
			"field_fps_lighter_config_int": "lVf",
			"field_fps_lighter_config_boolean": "lUY",
			"field_fps_lighter_listeners": "mListeners",
			"class_subcore_hot_patch": "com.tencent.mm.plugin.hp.b.d",
			"field_subcore_hot_patch_ilistener": "mQT",
			"method_subcore_hot_patch_ilistener_callback": "a",
			"class_tinker_patch_request_callback": "com.tencent.mm.plugin.hp.tinker.f",
			"method_tinker_patch_request_callback": "A",
			"class_tinker_boots_command": "com.tencent.mm.plugin.hp.b.g",
			"method_tinker_boots_command": "a",
			"class_click_flow_receiver": "com.tencent.mm.booter.ClickFlowReceiver",
			"class_tinker_resource_loader": "com.tencent.tinker.loader.TinkerResourceLoader",
			"method_tinker_resource_loader": "a",
			"class_share_security_check": "com.tencent.tinker.loader.shareutil.ShareSecurityCheck"
		}
	},
	"6.6.0": {
		"class_cursor_factory": "com.tencent.wcdb.database.SQLiteDatabase$CursorFactory",
		"class_sqlite_cipher_spec": "com.tencent.wcdb.database.SQLiteCipherSpec",
		"class_database_error_handler": "com.tencent.wcdb.DatabaseErrorHandler",
		"class_sqlite_database": "com.tencent.wcdb.database.SQLiteDatabase",
		"class_cancel_lation_signal": "com.tencent.wcdb.support.CancellationSignal",
		"class_voice_logic": "com.tencent.mm.modelvoice.q",
		"class_voice_table": "com.tencent.mm.modelvoice.m",
		"class_img_helper": "com.tencent.mm.plugin.n.c",
		"class_sub_core_cdntransport": "com.tencent.mm.modelcdntran.g",
		"class_netscene_upload_msgimg": "com.tencent.mm.ao.k",
		"class_sendmsg": "com.tencent.mm.modelmulti.j",
		"class_imginfo_storage": "com.tencent.mm.ao.n",
		"class_mmcore": "com.tencent.mm.y.as",
		"method_open_database": "openDatabase",
		"class_timeline": "com.tencent.mm.protocal.c.bla",
		"class_comment": "com.tencent.mm.protocal.c.bhg",
		"class_parser": "com.tencent.mm.plugin.sns.g.j",
		"method_byte_to_object": "aB",
		"method_timeline_to_xml": "b",
		"field_comments": "vKP",
		"field_likes": "vKM",
		"field_nickname": "vKU",
		"field_comment_like_timestamp": "olH",
		"field_comment_content": "ooT",
		"field_comment_like_username": "uJI",
		"field_comment_like_nickname": "vuw",
		"method_insert": "insertWithOnConflict",
		"method_update": "updateWithOnConflict",
		"method_delete": "delete",
		"method_rawquery": "rawQueryWithFactory",
		"method_wx_path": "AX",
		"method_get_scene_voice_service": "Qy",
		"method_init_voicemsg": "ns",
		"method_get_img_path": "AU",
		"method_get_cdntransport_service": "It",
		"method_get_queue": "ys",
		"method_add_queue": "a",
		"method_get_download_img_service": "Lk",
		"method_get_bigimg_logic": "Ll",
		"method_download_img": "a",
		"method_get_imageloader": "KM",
		"method_stop_recoder": "Y",
		"method_scene_voice_service_run": "run",
		"method_hashset_add": "add",
		"field_hashset_string": "gLM",
		"class_net_scene_verifyuser": "com.tencent.mm.pluginsdk.model.n",
		"class_sys_cmd_msgextension": "com.tencent.mm.y.bt",
		"method_new_xml_consumer": "a",
		"interface_messenger_foundation": "com.tencent.mm.plugin.messenger.foundation.a.l",
		"class_get_contact_card_info": "com.tencent.mm.ui.contact.v",
		"method_get_contact_card_info": "YD",
		"tune_wx": {
			"class_sqlite_connection_operation": "com.tencent.wcdb.database.SQLiteConnection$Operation",
			"class_sqlite_connection_operationlog": "com.tencent.wcdb.database.SQLiteConnection$OperationLog",
			"method_end_operation_defer_log_locked": "endOperationDeferLogLocked",
			"class_sqlite_connection": "com.tencent.wcdb.database.SQLiteConnection",
			"method_dump": "dump",
			"class_sqlite_connection_pool": "com.tencent.wcdb.database.SQLiteConnectionPool",
			"method_trace_execute": "traceExecute",
			"class_support_log": "com.tencent.wcdb.support.Log",
			"method_println": "println",
			"class_log_callback": "com.tencent.wcdb.support.Log$LogCallback",
			"field_callback": "mCallback",
			"class_gmtrace": "com.tencent.gmtrace.GMTrace",
			"field_methodinhandlermap": "methodInHandlerMap",
			"field_methodpostdatahandlerlist": "methodPostDataHandlerList",
			"class_gmtracehandler": "com.tencent.gmtrace.GMTraceHandler",
			"method_register_handler": "registerHandler",
			"class_fps_lighter": "com.tencent.mm.plugin.fps_lighter.e.a",
			"method_of": "oJ",
			"class_fps_lighter_sub": "com.tencent.mm.plugin.fps_lighter.e.a$a",
			"method_valueof": "valueOf",
			"class_fps_lighter_frame_beat_core": "com.tencent.mm.plugin.fps_lighter.b.f",
			"method_frame_beat_core": "r",
			"field_fps_lighter_config": "lQr",
			"field_fps_lighter_config_int": "lQV",
			"field_fps_lighter_config_boolean": "lQO",
			"field_fps_lighter_listeners": "mListeners",
			"class_subcore_hot_patch": "com.tencent.mm.plugin.hp.b.d",
			"field_subcore_hot_patch_ilistener": "mMO",
			"method_subcore_hot_patch_ilistener_callback": "a",
			"class_tinker_patch_request_callback": "com.tencent.mm.plugin.hp.tinker.f",
			"method_tinker_patch_request_callback": "A",
			"class_tinker_boots_command": "com.tencent.mm.plugin.hp.b.g",
			"method_tinker_boots_command": "a",
			"class_click_flow_receiver": "com.tencent.mm.booter.ClickFlowReceiver",
			"class_tinker_resource_loader": "com.tencent.tinker.loader.TinkerResourceLoader",
			"method_tinker_resource_loader": "a",
			"class_share_security_check": "com.tencent.tinker.loader.shareutil.ShareSecurityCheck"
		}
	},
	"6.5.23": {
		"class_cursor_factory": "com.tencent.wcdb.database.SQLiteDatabase$CursorFactory",
		"class_sqlite_cipher_spec": "com.tencent.wcdb.database.SQLiteCipherSpec",
		"class_database_error_handler": "com.tencent.wcdb.DatabaseErrorHandler",
		"class_sqlite_database": "com.tencent.wcdb.database.SQLiteDatabase",
		"class_cancel_lation_signal": "com.tencent.wcdb.support.CancellationSignal",
		"class_voice_logic": "com.tencent.mm.modelvoice.q",
		"class_voice_table": "com.tencent.mm.modelvoice.m",
		"class_img_helper": "com.tencent.mm.plugin.n.b",
		"class_sub_core_cdntransport": "com.tencent.mm.modelcdntran.g",
		"class_netscene_upload_msgimg": "com.tencent.mm.ao.k",
		"class_sendmsg": "com.tencent.mm.modelmulti.j",
		"class_imginfo_storage": "com.tencent.mm.ao.n",
		"class_mmcore": "com.tencent.mm.y.at",
		"method_open_database": "openDatabase",
		"class_timeline": "com.tencent.mm.protocal.c.bjs",
		"class_comment": "com.tencent.mm.protocal.c.bfy",
		"class_parser": "com.tencent.mm.plugin.sns.g.j",
		"method_byte_to_object": "aD",
		"method_timeline_to_xml": "b",
		"field_comments": "vjW",
		"field_likes": "vjT",
		"field_nickname": "vkb",
		"field_comment_like_timestamp": "nTB",
		"field_comment_content": "nWN",
		"field_comment_like_username": "ujK",
		"field_comment_like_nickname": "uTZ",
		"method_insert": "insertWithOnConflict",
		"method_update": "updateWithOnConflict",
		"method_delete": "delete",
		"method_rawquery": "rawQueryWithFactory",
		"method_wx_path": "ze",
		"method_get_scene_voice_service": "NZ",
		"method_init_voicemsg": "mY",
		"method_get_img_path": "zb",
		"method_get_cdntransport_service": "Gq",
		"method_get_queue": "wY",
		"method_add_queue": "a",
		"method_get_download_img_service": "Jg",
		"method_get_bigimg_logic": "Jh",
		"method_download_img": "a",
		"method_get_imageloader": "IJ",
		"method_stop_recoder": "S",
		"method_scene_voice_service_run": "run",
		"method_hashset_add": "add",
		"field_hashset_string": "gCl",
		"class_net_scene_verifyuser": "com.tencent.mm.pluginsdk.model.n",
		"class_sys_cmd_msgextension": "com.tencent.mm.y.bt",
		"method_new_xml_consumer": "a",
		"interface_messenger_foundation": "com.tencent.mm.plugin.messenger.foundation.a.l",
		"class_get_contact_card_info": "com.tencent.mm.ui.contact.v",
		"method_get_contact_card_info": "YD",
		"tune_wx": {
			"class_sqlite_connection_operation": "com.tencent.wcdb.database.SQLiteConnection$Operation",
			"class_sqlite_connection_operationlog": "com.tencent.wcdb.database.SQLiteConnection$OperationLog",
			"method_end_operation_defer_log_locked": "endOperationDeferLogLocked",
			"class_sqlite_connection": "com.tencent.wcdb.database.SQLiteConnection",
			"method_dump": "dump",
			"class_sqlite_connection_pool": "com.tencent.wcdb.database.SQLiteConnectionPool",
			"method_trace_execute": "traceExecute",
			"class_support_log": "com.tencent.wcdb.support.Log",
			"method_println": "println",
			"class_log_callback": "com.tencent.wcdb.support.Log$LogCallback",
			"field_callback": "mCallback",
			"class_gmtrace": "com.tencent.gmtrace.GMTrace",
			"field_methodinhandlermap": "methodInHandlerMap",
			"field_methodpostdatahandlerlist": "methodPostDataHandlerList",
			"class_gmtracehandler": "com.tencent.gmtrace.GMTraceHandler",
			"method_register_handler": "registerHandler",
			"class_fps_lighter": "com.tencent.mm.plugin.fps_lighter.e.a",
			"method_of": "of",
			"class_fps_lighter_sub": "com.tencent.mm.plugin.fps_lighter.e.a$a",
			"method_valueof": "valueOf",
			"class_fps_lighter_frame_beat_core": "com.tencent.mm.plugin.fps_lighter.b.f",
			"method_frame_beat_core": "q",
			"field_fps_lighter_config": "lAp",
			"field_fps_lighter_config_int": "lAV",
			"field_fps_lighter_config_boolean": "lAO",
			"field_fps_lighter_listeners": "mListeners",
			"class_subcore_hot_patch": "com.tencent.mm.plugin.hp.b.d",
			"field_subcore_hot_patch_ilistener": "mvp",
			"method_subcore_hot_patch_ilistener_callback": "a",
			"class_tinker_patch_request_callback": "com.tencent.mm.plugin.hp.tinker.f",
			"method_tinker_patch_request_callback": "x",
			"class_tinker_boots_command": "com.tencent.mm.plugin.hp.b.g",
			"method_tinker_boots_command": "a",
			"class_click_flow_receiver": "com.tencent.mm.booter.ClickFlowReceiver",
			"class_tinker_resource_loader": "com.tencent.tinker.loader.TinkerResourceLoader",
			"method_tinker_resource_loader": "a",
			"class_share_security_check": "com.tencent.tinker.loader.shareutil.ShareSecurityCheck"
		}
	},
	"6.5.22": {
		"class_cursor_factory": "com.tencent.wcdb.database.SQLiteDatabase$CursorFactory",
		"class_sqlite_cipher_spec": "com.tencent.wcdb.database.SQLiteCipherSpec",
		"class_database_error_handler": "com.tencent.wcdb.DatabaseErrorHandler",
		"class_sqlite_database": "com.tencent.wcdb.database.SQLiteDatabase",
		"class_cancel_lation_signal": "com.tencent.wcdb.support.CancellationSignal",
		"class_voice_logic": "com.tencent.mm.modelvoice.q",
		"class_voice_table": "com.tencent.mm.modelvoice.m",
		"class_img_helper": "com.tencent.mm.plugin.n.b",
		"class_sub_core_cdntransport": "com.tencent.mm.modelcdntran.g",
		"class_netscene_upload_msgimg": "com.tencent.mm.ao.k",
		"class_sendmsg": "com.tencent.mm.modelmulti.j",
		"class_imginfo_storage": "com.tencent.mm.ao.n",
		"class_mmcore": "com.tencent.mm.y.at",
		"method_open_database": "openDatabase",
		"class_timeline": "com.tencent.mm.protocal.c.bjs",
		"class_comment": "com.tencent.mm.protocal.c.bfy",
		"class_parser": "com.tencent.mm.plugin.sns.g.j",
		"method_byte_to_object": "aD",
		"method_timeline_to_xml": "b",
		"field_comments": "vfb",
		"field_likes": "veY",
		"field_nickname": "vfg",
		"field_comment_like_timestamp": "nSz",
		"field_comment_content": "nVL",
		"field_comment_like_username": "ueP",
		"field_comment_like_nickname": "uPf",
		"method_insert": "insertWithOnConflict",
		"method_update": "updateWithOnConflict",
		"method_delete": "delete",
		"method_rawquery": "rawQueryWithFactory",
		"method_wx_path": "zc",
		"method_get_scene_voice_service": "NT",
		"method_init_voicemsg": "mX",
		"method_get_img_path": "yZ",
		"method_get_cdntransport_service": "Go",
		"method_get_queue": "wW",
		"method_add_queue": "a",
		"method_get_download_img_service": "Je",
		"method_get_bigimg_logic": "Jf",
		"method_download_img": "a",
		"method_get_imageloader": "IH",
		"method_stop_recoder": "Q",
		"method_scene_voice_service_run": "run",
		"method_hashset_add": "add",
		"field_hashset_string": "gBE",
		"class_net_scene_verifyuser": "com.tencent.mm.pluginsdk.model.n",
		"class_sys_cmd_msgextension": "com.tencent.mm.y.bt",
		"method_new_xml_consumer": "a",
		"interface_messenger_foundation": "com.tencent.mm.plugin.messenger.foundation.a.l",
		"class_get_contact_card_info": "com.tencent.mm.ui.contact.v",
		"method_get_contact_card_info": "YD",
		"tune_wx": {
			"class_sqlite_connection_operation": "com.tencent.wcdb.database.SQLiteConnection$Operation",
			"class_sqlite_connection_operationlog": "com.tencent.wcdb.database.SQLiteConnection$OperationLog",
			"method_end_operation_defer_log_locked": "endOperationDeferLogLocked",
			"class_sqlite_connection": "com.tencent.wcdb.database.SQLiteConnection",
			"method_dump": "dump",
			"class_sqlite_connection_pool": "com.tencent.wcdb.database.SQLiteConnectionPool",
			"method_trace_execute": "traceExecute",
			"class_support_log": "com.tencent.wcdb.support.Log",
			"method_println": "println",
			"class_log_callback": "com.tencent.wcdb.support.Log$LogCallback",
			"field_callback": "mCallback",
			"class_gmtrace": "com.tencent.gmtrace.GMTrace",
			"field_methodinhandlermap": "methodInHandlerMap",
			"field_methodpostdatahandlerlist": "methodPostDataHandlerList",
			"class_gmtracehandler": "com.tencent.gmtrace.GMTraceHandler",
			"method_register_handler": "registerHandler",
			"class_fps_lighter": "com.tencent.mm.plugin.fps_lighter.e.a",
			"method_of": "of",
			"class_fps_lighter_sub": "com.tencent.mm.plugin.fps_lighter.e.a$a",
			"method_valueof": "valueOf",
			"class_fps_lighter_frame_beat_core": "com.tencent.mm.plugin.fps_lighter.b.f",
			"method_frame_beat_core": "r",
			"field_fps_lighter_config": "lzm",
			"field_fps_lighter_config_int": "lzS",
			"field_fps_lighter_config_boolean": "lzL",
			"field_fps_lighter_listeners": "mListeners",
			"class_subcore_hot_patch": "com.tencent.mm.plugin.hp.b.d",
			"field_subcore_hot_patch_ilistener": "mum",
			"method_subcore_hot_patch_ilistener_callback": "a",
			"class_tinker_patch_request_callback": "com.tencent.mm.plugin.hp.tinker.f",
			"method_tinker_patch_request_callback": "x",
			"class_tinker_boots_command": "com.tencent.mm.plugin.hp.b.g",
			"method_tinker_boots_command": "a",
			"class_click_flow_receiver": "com.tencent.mm.booter.ClickFlowReceiver",
			"class_tinker_resource_loader": "com.tencent.tinker.loader.TinkerResourceLoader",
			"method_tinker_resource_loader": "a",
			"class_share_security_check": "com.tencent.tinker.loader.shareutil.ShareSecurityCheck"
		}
	},
	"6.5.19": {
		"class_cursor_factory": "com.tencent.wcdb.database.SQLiteDatabase$CursorFactory",
		"class_sqlite_cipher_spec": "com.tencent.wcdb.database.SQLiteCipherSpec",
		"class_database_error_handler": "com.tencent.wcdb.DatabaseErrorHandler",
		"class_sqlite_database": "com.tencent.wcdb.database.SQLiteDatabase",
		"class_cancel_lation_signal": "com.tencent.wcdb.support.CancellationSignal",
		"class_voice_logic": "com.tencent.mm.modelvoice.q",
		"class_voice_table": "com.tencent.mm.modelvoice.m",
		"class_img_helper": "com.tencent.mm.plugin.n.b",
		"class_sub_core_cdntransport": "com.tencent.mm.modelcdntran.g",
		"class_netscene_upload_msgimg": "com.tencent.mm.ao.k",
		"class_sendmsg": "com.tencent.mm.modelmulti.j",
		"class_imginfo_storage": "com.tencent.mm.ao.n",
		"class_mmcore": "com.tencent.mm.y.at",
		"method_open_database": "openDatabase",
		"class_timeline": "com.tencent.mm.protocal.c.biz",
		"class_comment": "com.tencent.mm.protocal.c.bfh",
		"class_parser": "com.tencent.mm.plugin.sns.g.j",
		"method_byte_to_object": "aD",
		"method_timeline_to_xml": "b",
		"field_comments": "uQT",
		"field_likes": "uQQ",
		"field_nickname": "uQY",
		"field_comment_like_timestamp": "nFd",
		"field_comment_content": "nIp",
		"field_comment_like_username": "tRz",
		"field_comment_like_nickname": "uQG",
		"method_insert": "insertWithOnConflict",
		"method_update": "updateWithOnConflict",
		"method_delete": "delete",
		"method_rawquery": "rawQueryWithFactory",
		"method_wx_path": "yY",
		"method_get_scene_voice_service": "NM",
		"method_init_voicemsg": "mM",
		"method_get_img_path": "yV",
		"method_get_cdntransport_service": "Gk",
		"method_get_queue": "wS",
		"method_add_queue": "a",
		"method_get_download_img_service": "Ja",
		"method_get_bigimg_logic": "Jb",
		"method_download_img": "a",
		"method_get_imageloader": "ID",
		"method_stop_recoder": "Q",
		"method_scene_voice_service_run": "run",
		"method_hashset_add": "add",
		"field_hashset_string": "gzL",
		"class_net_scene_verifyuser": "com.tencent.mm.pluginsdk.model.n",
		"class_sys_cmd_msgextension": "com.tencent.mm.y.bt",
		"method_new_xml_consumer": "a",
		"interface_messenger_foundation": "com.tencent.mm.plugin.messenger.foundation.a.l",
		"class_get_contact_card_info": "com.tencent.mm.ui.contact.v",
		"method_get_contact_card_info": "YD"
	},
	"6.5.16": {
		"class_cursor_factory": "com.tencent.wcdb.database.SQLiteDatabase$CursorFactory",
		"class_sqlite_cipher_spec": "com.tencent.wcdb.database.SQLiteCipherSpec",
		"class_database_error_handler": "com.tencent.wcdb.DatabaseErrorHandler",
		"class_sqlite_database": "com.tencent.wcdb.database.SQLiteDatabase",
		"class_cancel_lation_signal": "com.tencent.wcdb.support.CancellationSignal",
		"class_voice_logic": "com.tencent.mm.modelvoice.q",
		"class_voice_table": "com.tencent.mm.modelvoice.m",
		"class_img_helper": "com.tencent.mm.plugin.m.b",
		"class_sub_core_cdntransport": "com.tencent.mm.modelcdntran.g",
		"class_netscene_upload_msgimg": "com.tencent.mm.an.k",
		"class_sendmsg": "com.tencent.mm.modelmulti.j",
		"class_imginfo_storage": "com.tencent.mm.an.n",
		"class_mmcore": "com.tencent.mm.x.ap",
		"class_timeline": "com.tencent.mm.protocal.c.bhc",
		"class_comment": "com.tencent.mm.protocal.c.bdk",
		"class_parser": "com.tencent.mm.plugin.sns.g.j",
		"method_byte_to_object": "aC",
		"method_timeline_to_xml": "b",
		"field_comments": "uvl",
		"field_likes": "uvi",
		"field_nickname": "uvq",
		"field_comment_like_timestamp": "orU",
		"field_comment_content": "ovi",
		"field_comment_like_username": "twR",
		"field_comment_like_nickname": "uuY",
		"method_open_database": "openDatabase",
		"method_insert": "insertWithOnConflict",
		"method_update": "updateWithOnConflict",
		"method_delete": "delete",
		"method_rawquery": "rawQueryWithFactory",
		"method_wx_path": "yZ",
		"method_get_scene_voice_service": "NF",
		"method_init_voicemsg": "mz",
		"method_get_img_path": "yW",
		"method_get_cdntransport_service": "Gi",
		"method_get_queue": "wT",
		"method_add_queue": "a",
		"method_get_download_img_service": "IX",
		"method_get_bigimg_logic": "IY",
		"method_download_img": "a",
		"method_get_imageloader": "IA",
		"method_stop_recoder": "N",
		"method_scene_voice_service_run": "run",
		"method_hashset_add": "add",
		"field_hashset_string": "hsb",
		"class_net_scene_verifyuser": "com.tencent.mm.pluginsdk.model.n",
		"class_sys_cmd_msgextension": "com.tencent.mm.x.bp",
		"method_new_xml_consumer": "a",
		"interface_messenger_foundation": "com.tencent.mm.plugin.messenger.foundation.a.l",
		"class_get_contact_card_info": "com.tencent.mm.ui.contact.v",
		"method_get_contact_card_info": "YD"
	},
	"6.5.13": {
		"class_cursor_factory": "com.tencent.wcdb.database.SQLiteDatabase$CursorFactory",
		"class_sqlite_cipher_spec": "com.tencent.wcdb.database.SQLiteCipherSpec",
		"class_database_error_handler": "com.tencent.wcdb.DatabaseErrorHandler",
		"class_sqlite_database": "com.tencent.wcdb.database.SQLiteDatabase",
		"class_cancel_lation_signal": "com.tencent.wcdb.support.CancellationSignal",
		"class_voice_logic": "com.tencent.mm.modelvoice.q",
		"class_voice_table": "com.tencent.mm.modelvoice.m",
		"class_img_helper": "com.tencent.mm.plugin.n.b",
		"class_sub_core_cdntransport": "com.tencent.mm.modelcdntran.g",
		"class_netscene_upload_msgimg": "com.tencent.mm.ah.k",
		"class_sendmsg": "com.tencent.mm.modelmulti.j",
		"class_imginfo_storage": "com.tencent.mm.ah.n",
		"class_mmcore": "com.tencent.mm.u.ap",
		"class_timeline": "com.tencent.mm.protocal.c.bey",
		"class_comment": "com.tencent.mm.protocal.c.bbg",
		"class_parser": "com.tencent.mm.plugin.sns.g.j",
		"method_byte_to_object": "aD",
		"method_timeline_to_xml": "a",
		"field_comments": "uaE",
		"field_likes": "uaB",
		"field_nickname": "uaJ",
		"field_comment_like_timestamp": "ofk",
		"field_comment_content": "oog",
		"field_comment_like_username": "tLN",
		"field_comment_like_nickname": "uas",
		"method_open_database": "openDatabase",
		"method_insert": "insertWithOnConflict",
		"method_update": "updateWithOnConflict",
		"method_delete": "delete",
		"method_rawquery": "rawQueryWithFactory",
		"method_wx_path": "xf",
		"method_get_scene_voice_service": "LB",
		"method_init_voicemsg": "lY",
		"method_get_img_path": "xc",
		"method_get_cdntransport_service": "Em",
		"method_get_queue": "vd",
		"method_add_queue": "a",
		"method_get_download_img_service": "GU",
		"method_get_bigimg_logic": "GV",
		"method_download_img": "a",
		"method_get_imageloader": "Gx",
		"method_stop_recoder": "K",
		"method_scene_voice_service_run": "run",
		"method_hashset_add": "add",
		"field_hashset_string": "hxZ",
		"class_net_scene_verifyuser": "com.tencent.mm.pluginsdk.model.n",
		"class_sys_cmd_msgextension": "com.tencent.mm.u.bp",
		"method_new_xml_consumer": "a",
		"interface_messenger_foundation": "com.tencent.mm.plugin.messenger.foundation.a.l",
		"class_get_contact_card_info": "com.tencent.mm.ui.contact.v",
		"method_get_contact_card_info": "YD"
	}
}